#body_header{
	height: 85vh;
	background-image:url(laptop.jpeg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed:;

}
	#pseudo_element::first-letter{
	font-size: 4rem;
	font-weight: bold;
	text-transform: capitalize;
}

}
/*horizontal-list of elements---------------------------*/
.horizontal-list{
	list-style: none;
	color: white;
	/*text-align:center;*/
	padding:25px;
	margin: 0px;
}
.horizontal-list li{
	display: inline-block;
	margin: 0px 20px 20px 0px;

}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	font-size: large;
	transition: color 0.5s,border-bottom 4s;
}
.horizontal-list li a:hover {
	color:red;
	border-bottom: 1px solid white;
}
.text-center{
	text-align: center;
}
.h{
	padding: 30px;
	font-size: 3rem;

}
/*icons of social media----------------------------------------*/
.social-list{
	list-style: none;
	margin-top: 3px;
	text-align: center;
	font-size: larger;
	color: white;
}
.social-list li{
	display: inline-block;
	transition: color 0.5s,border-bottom 4s;
}
.social-list li:hover {
	color:red;
	border-bottom: 1px solid white;
	box-shadow: 0px 0px 6px 4px red;
}
.social-list li a i{
	/*color:;*/
	padding-bottom: 50px;
	border-radius: 50%;
}
#my_image{
	margin: auto;
	height: 12rem;
	width: 12rem;
	position: relative;
}
#my_image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
/* paragraph(about)*/
.about_para{
	padding-top: 120px;
	padding-right:150px ;
	padding-left:150px ;
	font-size:25px;
}


/*skills ------------=------------------------*/
#skills{
	text-align: center;
	font-size: 3rem;

}
#skills_list li{
	list-style: none;
	display: inline-block;
}
#skills_list img{
	height: 3rem;
	width: 3rem;
}

/*.skills_block{
	/*border: 2px solid red;*/
/*	height: 100px;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.skill_block1{
	width: 15rem;
	height: 1.5rem;
	background-color: gray;
	border-radius: 0.6rem;
	border: 2px solid black;
}
#eighty-percent{
	width: 80%;
	height: inherit;
}*/
#skillmain{
	height: auto;
	width: 70%;
	align-items: center;
	/*border: 2px solid black;*/
	display: inline-block;
}
#skillmain li{
	list-style: none;
	display: inline-block;

}
#skills_block{
	border: 2px solid black;
	width: 20rem;
	height: 1.7rem;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
}
#percentage{
	width: 16rem;
	height: inherit;
	background-color: blue;
	border-radius: inherit;
	
}
#skills-name span{
	color: white;
	font-size: 1.8rem;

}
#skills_block-2{
	border: 2px solid black;
	width: 20rem;
	height: 1.7rem;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
}
#percentage-2{
	width: 15.5rem;
	height: inherit;
	background-color: blue;
	border-radius: inherit;
	
}
#skills-name-2 span{
	color: white;
	font-size: 1.8rem;

}
#skills_block-3{
	border: 2px solid black;
	width: 20rem;
	height: 1.7rem;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
}
#percentage-3{
	width: 17.5rem;
	height: inherit;
	background-color: blue;
	border-radius: inherit;
	
}
#skills-name-3 span{
	color: white;
	font-size: 1.8rem;

}
#skills_block-4{
	border: 2px solid black;
	width: 20rem;
	height: 1.7rem;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
}
#percentage-4{
	width: 18.5rem;
	height: inherit;
	background-color: blue;
	border-radius: inherit;
	
}
#skills-name-4 span{
	color: white;
	font-size: 1.8rem;

}
#higher_education{
	align-items: center;
	text-align: center;
	font-size: 5rem;
	font-weight: bold;
}
#higher_education img{
	height: 60px;
	width: 60px;
}
/*.................................................heigher education.............................*/
#timeline{
	position: relative;
	/*border: 2px solid red;*/
	align-items: center;
	width: 75%;
	margin: auto;
}
#timeline_box{
	position: relative;
	border: 2px solid black;
	width: 40%;
	left: 5%;
	min-height: 150px;
	margin: 5px;
	overflow-wrap: break-word;
	font-size:1rem;

}
#timeline_box:nth-child(2n){
	left: 53%;

}
#timeline_box:nth-child(n)::before{
	content: '';
	position: absolute;
	border-radius: 50%;
	height: 0.7rem;
	width: 0.7rem;
	background-color: black;
	top: 35%;
	right: -12.8%;
	z-index: 1;

}
#timeline_box:nth-child(2n)::before{
	content: '';
	position: absolute;
	border-radius: 50%;
	height: 0.7rem;
	width: 0.7rem;
	background-color: black;
	top: 35%;
	left: -10%;
	z-index: 1;
	}
#naik::before{
	content: '';
	background-image: url(logo.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;

}
#naik{
	color: royalblue;
}
#timeline_box p::first-letter{
	font-size: 3rem;
	font-weight: bold;
	text-transform: capitalize;

}
#timeline_divider{
	height: 85%;
	width: 0%;
	position: absolute;
	border: 2px dashed blueviolet;
	top: 5%;
	left: 50%;
}
#timeline_travel{
	position: sticky;
	top: 80%;
	transform: rotate(270deg);
}
@media screen and (max-width: 600px)
{	#timeline_divider{
	left: 2%;
	}
	#timeline_box{
		left: 10% !important;

		width: 80%;
	}
	#timeline_box::before{
		left: -13%  !important;

	}
}